@model BrnasM3.Models.EmploymentTableModelView;

<h1>@Model.EmploymentTable.Title</h1>

<table id="myTable">
    <thead>
        <tr>
            <th>Employer</th>
            <th>Degree</th>
            <th>City</th>
            <th>Title</th>
            <th>Start Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empInfo in Model.EmploymentTable.professionalEmploymentInformation)
        {
            <tr>
                <td>@empInfo.Employer</td>
                <td>@empInfo.Degree</td>
                <td>@empInfo.City</td>
                <td>@empInfo.Title</td>
                <td>@empInfo.StartDate</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>$(document).ready(function () {
            $('#myTable').DataTable();
        });</script>
}
